<div class="flex align-items-center justify-content-center">
  <div class="flex  align-items-center justify-content-center">
    <a href="/shop/Hats"><button
        class="w-full px-4 py-2 font-bold text-white bg-purple-900  hover:bg-purple-700 focus:outline-none focus:shadow-outline"
        value="Hats" type="submit">Hats</button></a>
  </div>
  <div class="flex align-items-center justify-content-center">
    <a href="/shop/Tops"><button
   class="w-full px-4 py-2 font-bold text-white bg-purple-900  hover:bg-purple-700 focus:outline-none focus:shadow-outline"
       value="Tops" type="submit">Tops</button></a>
  </div>
  <div class="flex  align-items-center justify-content-center">
    <a href="/shop/Bottoms"><button
      class="w-full px-4 py-2 font-bold text-white bg-purple-900  hover:bg-purple-700 focus:outline-none focus:shadow-outline"
        value="Bottoms" type="submit">Bottoms</button></a>
  </div>
  <div class="flex  align-items-center justify-content-center">
    <a href="/shop/Footwear"><button
      class="w-full px-4 py-2 font-bold text-white bg-purple-900  hover:bg-purple-700 focus:outline-none focus:shadow-outline"
        value="Footwear" type="submit">Footwear</button></a>
  </div>
  <br>
</div>

<section class="products py-8 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3  items-center">


  {{#each allItems}}
  <div class="max-w-xs bg-white border-2 border-purple-900 shadow-lg rounded-lg overflow-hidden my-10">
    <a href="/shop/{{this._id}}">
      <div class="px-4  py-2">
        <h1 class="text-purple-900 font-bold truncate text-3xl uppercase">{{this.Title}}</h1>
        <p class="text-purple-600 truncate text-sm mt-1">{{this.Category}}</p>
      </div>
      <img class="h-56 border-t-2 border-purple-900 w-full object-cover mt-2" src="{{this.ImagePath}}" alt="shoes">
    </a>
    <div class="flex items-center justify-between px-4 py-2 bg-purple-900">
      <h1 class="text-purple-200 font-bold text-xl">${{this.Price}}</h1>

      <a href="/add-to-cart/{{this._id}}"><button
          class="px-3 py-1 bg-gray-200 text-sm text-purple-900 font-semibold rounded">Add to cart</button></a>
      {
    </div>
  </div>
  {{/each}}
</section>